h1 {
  color: red;
  text-align: center;
  font-size: 100px;
  line-height: 700px
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: inherit;
}

ul {
    font-size: 20x;
    line-height: 30px;
}

